body {
    font-family: 'Roboto', sans-serif;
   }

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.head_menu {
    background: #E5E5E5;
}

.head_menu__list {
    margin: 0 auto;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.head_menu__list a {
    font-size: 14px;
    line-height: 16px;
    color: #000000;

   }

.head_menu__list li {
    padding: 17px 0;
}





/*=====================*/




.search_form {
    margin: 0 auto;
    height: 120px;
    width: 1111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EFEFEF;



}


.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    margin: 20px;
}


.search {
    width: 250px;
    height: 40px;
    background: #EFEFEF;
    border-radius: 40px;
    display: flex;
    align-items: center;

}
.form {

    padding-left: 20px;
}

.call_form {
    display: flex;
    align-items: center;
    align-self: center;
     }


.call_form a {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 40px;
}


.call_form__button {
    align-self: center;
   padding: 12px 26px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: center;
   }


/*====================================*/


.main_menu__list {
    margin: 0 auto;
    width: 676px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.main_menu__linc {
    font-size: 16px;
    line-height: 19px;
     color: #000000;

}

.main_menu__list li {
    padding: 30px 0;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/*====================================*/


.slider {
    margin: 0 auto;
    height: 604px;
      background: #fff url('../img/Rectangle 2.jpg') no-repeat;
}

.inner {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-content: center;


}

.slider__content {

    width: 308px;
    height: 398px;
    margin-top: 190px;
    align-self: center;

}

.slider__content__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;

}

.slider__content__text {
    margin: 50px 0;
    font-size: 14px;
    line-height: 20px;
     color: #FFFFFF;
}


.slider__content__linc {
  padding: 12px 26px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    /*background: #F13C6E;*/
    border: 2px solid #FFFFFF;
     border-radius: 40px;
}

/*====================================*/


.wrapper {
    width: 1110px;
    margin: 0 auto;
}

.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
     color: #000000;
    padding: 80px 0 38px;
}


/*====================================*/

.goods {
    background: #E5E5E5;

}

.goods_arya {
display: flex;
    justify-content: space-around;
}



.cart_goods {
    height: 363px;
    width: 255px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cart_goods_description {
    font-size: 14px;
    line-height: 20px;
     color: #333333;
    text-align: center;
}

.cart_goods_chaing {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;

}

.cart_goods_button {
    padding: 9px 40px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #F13C6E;
    border-radius: 30px;
}

.wyu_goods {
padding-bottom: 100px;
}


/*========================================*/

.mail, .delivery {
    height: 212px;
    width: 540px;
    background: #F13C6E;
}



.mail, .delivery {
   display: flex;
    justify-content: space-evenly;
}


.mail_delivery {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.mail_content__taite {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

}


.mail_content__subtaite {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 25px 0;

}

.mail_content__email {
    font-size: 14px;
    line-height: 16px;
    /*text-align: center;*/
    color: #C4C4C4;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 9px 100px 9px 25px;
}

.mail_icon {
    margin: 40px;
}

.mail_content {
   margin: 35px;
}

.delivery_cart {
    font-size: 14px;
    line-height: 16px;
      text-align: center;
    color: #FFFFFF;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
        border-radius: 30px;
    padding: 9px 28px;
}

.mail_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*====================*/

.impuls {
    background: #FFFFFF;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.impuls_content {
  padding: 35px 63px;
    border: 1px solid #EFEFEF;
    /*transform: rotate(90deg);*/
}

/*===========================*/

.popular_category {
    display: flex;
    justify-content: space-evenly;
}

.category {
    width: 255px;
}

.category_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
    padding: 60px 100px 30px 0;
    border-bottom: 1px solid #EFEFEF;

}
.category_subtitle {
    margin: 25px 0 60px;
}

.category_subtitle li {
    padding: 5px 0 ;
}

.category_subtitle a {
    font-size: 12px;
    line-height: 28px;
    color: #828282;

    }


/*======================*/
.line {
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 37px;
}


/*===========================*/
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.messenger {
    display: flex;
}

.adres {
    Font-Size: 14px;
    Line-Height: 16px;
    color: black;
}

.messenger img {
    margin-right: 15px;

}



/*============================*/
footer {
    background: #EFEFEF;
}

.footer {
    color: #828282;
    Font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;


}

.footer_copiring {


}